@import "tailwindcss";
@theme {
  --color-primary: #16a34a;
  --color-primary-dark: #107a36;
  --color-primary-accent: #22c55e;

  --color-background-light: #f6f8f7;
  --color-background-dark: #0b1220;

  --color-surface-light: #ffffff;
  --color-surface-dark: #111827;

  --color-text-main: #0b1220;
  --color-text-muted: #55605a;
}
@layer utilities {
  .text-outline {
    -webkit-text-stroke: 1px currentColor;
    color: transparent;
  }
  .text-outline-white {
    -webkit-text-stroke: 2px white;
    color: transparent;
  }
  .clip-diagonal {
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  }
  .mask-blob {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23FF0066' d='M44.7,-76.4C58.9,-69.2,71.8,-59.1,79.6,-46.3C87.4,-33.5,90.1,-18,88.7,-2.8C87.3,12.4,81.8,27.3,73.1,40.1C64.4,52.9,52.5,63.6,39.5,70.9C26.5,78.2,12.4,82.1,-0.6,83.1C-13.6,84.1,-26.2,82.2,-37.8,74.4C-49.4,66.6,-60,52.9,-68.2,38.1C-76.4,23.3,-82.2,7.4,-81.2,-8C-80.2,-23.4,-72.4,-38.3,-61.4,-48.7C-50.4,-59.1,-36.2,-65,-22.4,-72.4C-8.6,-79.8,4.8,-88.7,18.4,-88.3C32,-87.9,45.8,-78.2,44.7,-76.4Z' transform='translate(100 100)' /%3E%3C/svg%3E");
    mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23FF0066' d='M44.7,-76.4C58.9,-69.2,71.8,-59.1,79.6,-46.3C87.4,-33.5,90.1,-18,88.7,-2.8C87.3,12.4,81.8,27.3,73.1,40.1C64.4,52.9,52.5,63.6,39.5,70.9C26.5,78.2,12.4,82.1,-0.6,83.1C-13.6,84.1,-26.2,82.2,-37.8,74.4C-49.4,66.6,-60,52.9,-68.2,38.1C-76.4,23.3,-82.2,7.4,-81.2,-8C-80.2,-23.4,-72.4,-38.3,-61.4,-48.7C-50.4,-59.1,-36.2,-65,-22.4,-72.4C-8.6,-79.8,4.8,-88.7,18.4,-88.3C32,-87.9,45.8,-78.2,44.7,-76.4Z' transform='translate(100 100)' /%3E%3C/svg%3E");
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-size: contain;
    mask-size: contain;
  }
}
.text-text-main {
    --tw-text-opacity: 1;
    color: rgb(11 18 32 / var(--tw-text-opacity, 1));
}
